body {
    font-family: Arial, sans-serif;
    background-color: rgb(212 150 150);

    /* Centers the website horizontally */
    display: flex;
    justify-content: center;
  
}
.container {
   max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.myself {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}
.button{
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 18px;

    background-color: #222;
    color: white;
    border-radius: 5px;

}

html{
    scroll-behavior: smooth;
}

